html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue";
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.home {
    height: 100vh;
    min-height: 500px;
    background-image: url(./images/nav2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-custom {
    background-color: #fff;
}

.navbar {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.bg-transparent {
    background: transparent;
}

#about-us {
    min-height: 300px;
}

#card {
    border: none;
}

.card-footer {
    background: none;
}

.divider {
    border: solid red 3px;
    width: 10%;
}



#about-us {
    background-image: url(./images/jumbo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pizza1 {
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
    font-family: fantasy;
    color: chocolate;

}

#order {
    text-align: center;
    color: chocolate;
    font-weight: bolder;
    font-size: 4rem;
}

#text-center {
    background-image: url(./images/footer.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}